.app {
  transition: background-color 0.3s ease;
}

.app.light {
  background-color: white;
  color: var(--bg-dark);
  --text-color: var(--text-color);
}

.app.dark {
  --color-primary: #6d6d6d;
  --bg-dark: #252627;
  --background: #dddddd;
  --on-background: var(--bg-dark);
  background-color: var(--bg-dark);
  --on-background-grey: #6d6d6d;
  color: white;
  --text-color: hsla(24, 93%, 56%, 0.877);
  --font-color: hsla(24, 93%, 56%, 0.877);
  --color-white: var(--color-white);
}

.app-header {
  margin: 20px;
  color: rgb(248, 108, 14);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
