input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-grey);
  font-weight: bold;
}

textarea {
  resize: none;
}

.SearchBar,
search-bar {
  width: 100%;
}

/* memo */
.memo-form {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  margin-bottom: 32px;
}

.memo-form input,
.memo-form textarea {
  display: block;
  font-size: 14px;
  width: 100%;
}

.memo-form__title {
  font-weight: bold;
}

.memo-form__title-limit {
  font-size: 14px;
  text-align: left;
  color: var(--color-grey);
}

.memo-form__body {
  min-height: 175px;
}

.memo-form button {
  display: block;
  width: 100%;
  padding: 12px 8px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s all;
  height: 50px;
}

.memo-form button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.section-memolist {
  padding: 0 16px;
  margin-bottom: 48px;
}

.section-memolist__header {
  display: flex;
  margin-bottom: 16px;
}

.section-memolist__header h1 {
  margin: auto 0;
}

.section-memolist__header input {
  width: 250px;
  margin: auto 0 auto auto;
}

.section-memolist__subtitle,
.memo-form__title {
  margin-bottom: 12px;
  text-transform: uppercase;
  color: var(--color-grey-light);
  text-decoration: none;
}

.memo-list {
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.memo-list__empty,
.memolist__not-found {
  margin: 16px 0;
  padding: 16px;
  text-align: center;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  color: var(--color-white);
}

.memo-item__app,
.search-bar,
.memo-form__submit {
  border: 2px solid grey;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.search-bar {
  width: 95%;
  margin: 0px 10px 20px 30px;
  justify-items: center;
}

.memo-item__body,
.memo-form__body {
  padding: 12px;
  height: 100%;
}

.memo-item__footer {
  padding: 0;
}

.memo-item__container-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.memo-item__button {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  background-color: transparent;
  border-style: solid;
  border-color: var(--color-white);
  color: var(--color-white);
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
}

.memo-item__button:last-child {
  border-right: 0;
}

.memo-item__button.button--archieve:hover {
  background-color: var(--color-white);
  color: var(--color-green);
}

.memo-item__button.button--delete:hover {
  background-color: var(--color-white);
  color: var(--color-danger);
}

.memo-item__title {
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
}

.memo-item__title:hover {
  color: var(--color-orange);
}

.memo-item__desc {
  font-size: 14px;
  margin-bottom: 4px;
}

.memo-form__body:hover {
  color: var(--color-pink);
}

.memo-item__date {
  font-size: 12px;
  padding: 0 12px;
  margin-bottom: 12px;
  color: #aaa;
}

.memo-item__action {
  display: flex;
}

.memo-item__delete-button,
.memo-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.navigation-title {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding: 16px;
  color: white;
  float: inline-start;
  text-decoration: none;
}

.navigation-menu {
  display: flex;
  float: inline-end;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-list li,
.theme-button {
  align-items: flex-end;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.navigation-list li a {
  color: white;
  text-decoration: none;
}

.homepage {
  background-color: #333333;
}

.navigation {
  color: white;
}

header .navigation ul li {
  display: inline;
  font-size: 24px;
  margin: 0 8px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: #333333;
  padding: 8px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}
.MemoList,
.memo-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.header_h2,
.spacing {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--color-white);
  padding: 16px;
  text-align: center;
}

b {
  color: white;
  font-size: 24px;
  align-items: flex-start;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.start__action {
  float: right;
  text-align: right;
  margin: 5px 20px 10px 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;

  color: #333333;
  padding: 8px;
  cursor: pointer;
}
.form__action,
.form__item,
.page__action {
  margin: 10px 10px 10px 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: #333333;
  padding: 5px;
  cursor: pointer;
}

.action__label {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.theme__button {
  font-size: 32px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: #333333;
  padding: 8px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}

.login-page h2,
.register-page h2 {
  font-weight: normal;
}

.login-input,
.register-input,
.contact-input {
  margin-top: 16px;
}

.login-input input,
.register-input input,
.contact-input input {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 8px 0;
  font-size: 24px;
  background-color: #e6f2f8;
  border: 2px dashed black;
  border-radius: 8px;
}

.login-input button,
.register-input button,
.contact-input button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  background-color: tan;
  border: 2px dashed black;
  border-radius: 8px;
  margin: 16px 0;
}

.memo-list-input,
.app_archives,
.section-memolist-input,
.memo-list-article .app {
  height: 90vh;
}
