* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-dark);
  color: var(--color-white);
  --font-color: hsla(24, 93%, 56%, 0.877);
}

body.light {
  background-color: white;
  color: var(--bg-dark);
  --font-color: hsla(24, 86%, 50%, 0.877);
}

body.dark {
  --color-primary: #323232;
  --bg-dark: #252627;
  background-color: var(--bg-dark);
  color: white;
  --font-color: #c7c4c4;
}

/* Design */
.header {
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1.75px;
}

.body-app {
  display: flex;
  grid-template-columns: 50fr;
  max-width: 1200px;
  min-height: 80vh;
  margin: 2rem auto 1rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
  color: hotpink;
}
